<?php if ( !defined('BASEPATH')) exit('No direct script access allowed');
/**
 * Файл содержит параметры конфигурации, специфичные для проекта "Rynda.org"
 * (конфигурационный скрипт).
 *
 * @copyright  Copyright (c) 2011 Звягинцев Л. aka Ahaenor
 * @link       /application/config/config_rynda.php
 * @since      Файл доступен начиная с версии проекта 0.4
 * @license    http://creativecommons.org/licenses/by-nc-sa/3.0/
 */

$config['project_basename'] = ''; // Базовое название системы
// Полное название системы:
$config['project_fullname'] = '';

$config['google_api_key'] = array('domain-name' => 'google_key',);

// Почтовый домен для всех сервисов системы (не обязателен):
$config['system_email_domain'] = '';

// Почтовый адрес службы поддержки проекта:
$config['admin_email'] = '';

// Почтовый адрес, указываемый в поле FROM при рассылках пользователям проекта:
$config['mailout_email_from'] = '';

// Список HTML-тэгов, которые не будут удаляться из текстовых данных, пришедших от пользователей:
$config['allowed_html'] = array('<a>', '<b>', '<i>', '<u>', '<s>', '<strike>', '<ul>',
                                '<ol>', '<li>', '<br>', '<p>', '<strong>', '<em>');

/**
 * ID региона, к которому привязывается сообщение, если у него не указаны ни координаты,
 * ни собственный регион.
 */
$config['message_default_region'] = 50;

/**
 * Расстояние (в метрах), на котором ищутся сообщения из разделов "возможно, вам будет
 * интересно".
 */
$config['recommended_messages_distance'] = 10000;

/**
 * Текущая версия схемы БД. 1-е число - версия системы, 2-е число - номер изменения схемы
 * в рамках указанной версии системы.
 * ВНИМАНИЕ! Для корректной работы этот параметр должен иметь тип string, а не float.
 */
$config['db_version_required'] = '';

/**
 * Текущая версия CSS-файлов сайта. Увеличивать значение при необходимости обновить CSS
 * у клиентов, невзирая на кэш.
 */
$config['css_version'] = '';

/**
 * Текущая версия JS-файлов сайта. Увеличивать значение при необходимости обновить JS
 * у клиентов, невзирая на кэш.
 */
$config['js_version'] = '';

/**
 * Начальный уровень зума для главной карты. Обычно выбирается так, чтобы в карту примерно
 * вмещалась вся страна.
 */
$config['main_map_default_zoom'] = 3;

/**
 * Широта для центра главной карты по умолчанию. Обычно выбирается так, чтобы в карту
 * примерно вмещалась вся страна.
 */
$config['main_map_default_lat'] = 66.4166;

/**
 * Долгота для центра главной карты по умолчанию. Обычно выбирается так, чтобы в карту
 * примерно вмещалась вся страна.
 */
$config['main_map_default_lng'] = 94.25;

/**
 * URL REST-сервиса для геолокации региона по геогр. координатам точки.
 * Может быть в форме относительного пути - тогда считается, что хосты сервиса и сайта
 * совпадают.
 */
$config['region_geolocation_url'] = '';

/**
 * URL админки системы.
 */
$config['admin_url'] = '';

/**
 * Настройки загрузок пользователей
 */

/**
 * Путь от корня сайта до папки, где хранятся все файлы, загруженные пользователями
 * (напр., фотки). Путь должен завершаться слэшем.
 */
$config['uploads_path'] = './uploads/';

/**
 * Поддомен для статики.
 * Значение указывается без точки и основного домена системы - напр., "s", "static".
 * Если не задан, не используется.
 */
$config['static_subdomain'] = '';

/**
 * Путь от корня сайта до папки, где хранятся файлы js-скриптов системы. Должен завершаться
 * слэшем.
 */
$config['js_path'] = '/static/js/';

/**
 * Путь от корня сайта до папки, где хранятся файлы фотографий, загруженных пользователями.
 * Должен завершаться слэшем.
 */
$config['photo_path'] = '/static/photo/';

/**
 * Максимальный размер файла загружаемой фотки (в Кб)
 */
$config['uploads_photo_max_size'] = 2048;

/**
 * Максимальная ширина загружаемой фотки (в пикс.)
 */
$config['uploads_photo_max_width'] = 2000;

/**
 * Максимальная высота загружаемой фотки (в пикс.)
 */
$config['uploads_photo_max_height'] = 2000;

/**
 * Путь от корня сайта до папки, где хранятся файлы аватаров пользователей.
 * Должен завершаться слэшем.
 */
$config['avatar_path'] = '/static/avatars/';

/**
 * Максимальный размер файла загружаемой аватарки (в Кб)
 */
$config['uploads_avatar_max_size'] = 2048;

/**
 * Максимальная ширина изначальной (до ресайза) картинки, загружаемой для аватарки (в пикс.)
 */
$config['uploads_avatar_max_width'] = 2000;

/**
 * Максимальная высота изначальной (до ресайза) картинки, загружаемой для аватарки (в пикс.)
 */
$config['uploads_avatar_max_height'] = 2000;

/**
 * Максимальная ширина итоговой (после ресайза) картинки, загружаемой для аватарки (в пикс.)
 */
$config['avatar_width'] = 136;

/**
 * Максимальная высота итоговой (после ресайза) картинки, загружаемой для аватарки (в пикс.)
 */
$config['avatar_height'] = 136;

/**
 * Максимальное количество профилей волонтёрства, допустимое для 1 аккаунта пользователя.
 */
$config['volunteer_profiles_max'] = 4;

/**
 * Заголовок для писем из рассылки с сообщениями для профилей волонтёрства.
 */
$config['volunteer_profiles_email_subject'] = 'Просьбы о помощи от Rynda.org';

/**
 *  Формат отображения даты в комментах
 */
$config['comments_date_format'] = 'd.m.Y h:m';

/**
 * Максимальная глубина вложенности комментов
 */
$config['comments_max_depth'] = 4;

/**
 * Статус нового коммента по умолчанию.
 */
$config['comment_status_default'] = COMMENT_STATUS_MODERATED;
